*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
html,
body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
  color: #333;
}
#root {
  height: 100%;
}
.main-container {
  height: 100%;
  display: flex;
  overflow: hidden;
}
.main-container {
  > section {
    &:nth-child(1) {
      flex-basis: 300px;
    }
    &:nth-child(2) {
      flex: 5 1 auto;
    }
    &:nth-child(3) {
      flex: 2 1 auto;
    }
  }
}
